@charset "UTF-8";

body{
    font-family: "ヒラギノ角ゴ StdN W8" , "Hiragino Kaku Gothic StdN" , "游ゴシック体", "Yu Gothic" , YuGothic , sans-serif , "ヒラギノ角ゴ ProN";
    background-color: #000000 !important;
    color: #ffffff;
}
a{
    text-decoration: none
}
a:hover{
    color: #ffffff;
}
a:visited{
    color: #ffffff;
}
@media screen and (min-width:480px) and (max-width:1100px){

}
@media screen and (max-width:480px){
    
}

.contents{
    position: relative;
    text-align: center;
    color: #ffffff;
}

/* PCタブレットSNS */

.contents .sns{
    position: absolute;
    top:15px;
    right: 15px;
}
.contents .sns li{
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}
.contents .sns img{
    width: 50px;
    height: auto;
}
@media screen and (max-width:480px){
    .contents .sns{
        display: none;
    }
}

/* メインイメージ */

.contents .mainImg img{
    width: 100%;
}
@media screen and (max-width:480px){
    .contents .mainImg img{
        width: 110%;
        padding-top: 20px;
    }
}

/* タイトル */

.contents .tit1{
    position: absolute;
    font-family: "ヒラギノ角ゴ StdN W8" , "Hiragino Kaku Gothic StdN";
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 5px;
    top: 80px;
    left: 9%;
}
.contents .tit2{
    position: absolute;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN" , "ヒラギノ角ゴ ProN";
    font-size: 25px;
    letter-spacing: 3px;
    top: 220px;
    left: 9%;
}
@media screen and (min-width:480px) and (max-width:1100px){
    .contents .tit1{
        top: 30px;
        left: 5%;
    }
    .contents .tit2{
        font-size: 21px;
        top: 160px;
        left: 5%;
    }
}
@media screen and (max-width:480px){
    .contents .tit1{
        font-size: 60px;
        letter-spacing: 2px;
        top: 10px;
        left: 3%;
    }
    .contents .tit2{
        font-size: 10px;
        letter-spacing: 2px;
        top: 75px;
        left: 3%;
    }
}

/* メニュー */

.contents .menu{
    margin-top: -18%;
    margin-left: 65%;
}
.contents .menu li{
    list-style: none;
    text-align: left;
    font-size: 50px;
    line-height: 100px;
    letter-spacing: 2px;
}
.contents .menu li::after{
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 30px;
}
@media screen and (min-width:480px) and (max-width:1100px){
    .contents .menu{
        margin-top: 5%;
        margin-left: 5%;
    }
    .contents .menu li{
        line-height: 150px;
    }
    .contents .menu li:nth-child(2){
        padding-left: 15%;
    }
    .contents .menu li:nth-child(3){
        padding-left: 30%;
    }
    .contents .menu li:nth-child(4){
        padding-left: 45%;
    }
}
@media screen and (max-width:480px){
    .contents .menu{
        margin:5% 0 30% 10%;
    }
    .contents .menu li{
        font-size: 30px;
        line-height: 70px;
    }
    .contents .menu li::after{
        width: 30px;
        height: 30px;
    }
    
}

/* スマホSNS */

.contents .sns_sp{
    display: none;
}
@media screen and (max-width:480px){
    .contents .sns_sp{
        display: block;
        background-color: black;
        position: fixed;
        bottom: 4px;
    }
    .contents .sns_sp li{
        display: inline-block;
        list-style: none;
        width: 31%;
        border: #ffffff 1px solid;
    }
    .contents .sns_sp li img{
        width: 40%;
    }
}